@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
h2{
    font-size: 25px;
    font-family:"Playwrite IT Moderna";
    color: white;
    text-align: center;

}
body {
    display: flex;
}
nav {
    width: 200px;
    height: 100vh;
    background-color:#015958;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
}
.menu {
    list-style: none;
    padding: 0;
}
.menu li {
    padding: 15px;
    text-align: center;
}
.menu li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}
.menu li a:hover {
    background-color: #008F8C;
}
.content {
    margin-left: px;
    padding: 20px;
    display: flex;
    justify-content: center; 
    
}

fieldset{
    background-color: #023535;
   margin: 0 auto;
   text-align: center;
   width: 50%;
    border-radius: 20px;
}

.user-secretario {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
}